@import '../bootstrap.css';

body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul {
font-family:0;
margin:0;
padding:0;
}

html {
height:100%;
font-size:14px;
}

button,input,select,textarea {
border-radius:0;
border:none;
background:0 0;
-moz-appearance:none;
appearance:none;
outline:0;
text-decoration:none;
cursor:pointer;
}

fieldset,img {
border:0;
}

ol,ul {
list-style:none;
}

address,em {
font-style:normal;
}

a {
text-decoration:none;
}

table {
border-collapse:collapse;
border-spacing:0;
}

.u-skip::before {
display:block;
width:0;
height:0;
content:'\00a0';
font-size:0;
}

.footer .footer-copy .footer-logo,.header .logo,.reconfirm-top .logo {
background-size:244px 107px;
background-repeat:no-repeat;
}

.captcha-form .image::after,.captcha-form .reload::after,.captcha-form .voice::after,.captcha-wrap .voice-box .icon-voice,.chatbot .icon-chatbot,.icon-delete,.id-pw-wrap .input-row .icon-cell .icon-id,.id-pw-wrap .input-row .icon-cell .icon-pw,.id-pw-wrap .input-row.on .icon-cell .icon-id,.id-pw-wrap .input-row.on .icon-cell .icon-pw,.img-lock,.ip-relogin-box .relogin-close::after,.ip-relogin-box .relogin-tip::before,.keep-check input:checked+.keep-text::before,.menu-id .menu-text::before,.menu-id.on .menu-text::before,.menu-id.on::after,.menu-ones .menu-text::before,.menu-ones.on .menu-text::before,.menu-ones.on::after,.menu-ones.on::before,.menu-qr .menu-text::before,.menu-qr.on .menu-text::before,.menu-qr.on::before,.nudge-banner .nudge-close .icon-nudge-close,.ones-text .bullet-set,.reconfirm-sub .captcha-form .image::after,.reconfirm-sub .captcha-form .reload::after,.reconfirm-sub .captcha-form .voice::after,.reconfirm-sub .captcha-wrap .voice-box .icon-voice,.sns-wrap li:nth-child(1) .sns-text::before,.sns-wrap li:nth-child(2) .sns-text::before,.sns-wrap li:nth-child(3) .sns-text::before,.step-ask .ask-text::before,.time-wrap .btn-renewal::before {
background-size:266px 225px;
background-repeat:no-repeat;
}

body {
height:100%;
color:#222;
background-color:#fff;
}

.wrap {
position:relative;
height:100%;
letter-spacing:-.5px;
}

.header {
box-sizing:border-box;
}

.header .header-inner {
position:relative;
width:743px;
text-align:center;
box-sizing:border-box;
margin:0 auto;
}

.header .logo {
display:inline-block;
margin-top:108px;
vertical-align:top;
background-position:0 -51px;
background-repeat:no-repeat;
width:155px;
height:30px;
}

.footer {
box-sizing:border-box;
padding:10px 0 32px;
}

.footer .corp,.footer .text {
font-size:12px;
line-height:15px;
letter-spacing:-.5px;
color:#888;
}

.footer .footer-link li {
display:inline-block;
}

.footer .footer-link li+li::before {
content:'';
position:absolute;
top:4px;
left:4px;
width:1px;
height:11px;
background-color:#dadada;
}

.footer .footer-link+.footer-copy {
margin-top:9px;
}

.footer .footer-copy .corp,.footer .footer-copy .text {
line-height:16px;
font-family:'Helvetica Neue',sans-serif;
}

.footer .footer-copy .corp {
font-weight:500;
color:#000;
padding:0 2px;
}

.footer .footer-copy .footer-logo {
display:inline-block;
vertical-align:top;
background-position:-157px -51px;
background-repeat:no-repeat;
width:70px;
height:15px;
}

.login-wrap {
box-sizing:border-box;
width:460px;
margin:0 auto;
}

.menu-wrap {
display:table;
table-layout:fixed;
width:100%;
border-collapse:collapse;
}

.menu-item {
position:relative;
display:table-cell;
vertical-align:top;
}

.menu-id,.menu-ones,.menu-qr {
display:block;
position:relative;
height:65px;
padding-top:17px;
border:1px solid #e3e3e3;
border-bottom:0;
border-radius:6px 6px 0 0;
background-color:#f8f9fa;
text-align:center;
box-sizing:border-box;
z-index:2;
}

.menu-id .menu-text,.menu-ones .menu-text,.menu-qr .menu-text {
position:relative;
padding-left:24px;
font-size:16px;
font-weight:500;
line-height:20px;
letter-spacing:-.5px;
color:#777;
vertical-align:middle;
}

.menu-id .menu-text::before,.menu-ones .menu-text::before,.menu-qr .menu-text::before {
content:'';
position:absolute;
top:1px;
left:0;
}

.menu-id.on,.menu-ones.on,.menu-qr.on {
background-color:#fff;
z-index:5;
border-color:#c6c6c6;
}

.menu-id.on .menu-text,.menu-ones.on .menu-text,.menu-qr.on .menu-text {
color:#333;
}

.menu-qr {
border-radius:0 6px 0 0;
}

.menu-qr .menu-text::before {
background-position:-124px -172px;
background-repeat:no-repeat;
width:16px;
height:16px;
}

.menu-qr.on .menu-text::before {
background-position:-105px -172px;
background-repeat:no-repeat;
width:17px;
height:16px;
}

.panel-wrap {
position:relative;
z-index:3;
margin-top:-8px;
}

.panel-item {
border:1px solid #c6c6c6;
border-radius:6px;
background-color:#fff;
box-shadow:0 5px 8px 0 rgba(68,68,68,.04);
}

.panel-inner {
padding:20px 28px;
}

.input-row {
position:relative;
display:block;
height:10%;
border:1px solid #dadada;
border-radius:6px;
box-sizing:border-box;
text-align:left;
box-shadow:0 2px 6px 0 rgba(68,68,68,.08);
padding:16px 18px 15px;
}

.input-row .icon-id {
position:absolute;
}

.input-row+.input-row {
margin-top:-1px;
}

.input-row.focus {
border:solid 1px #03c75a;
z-index:5;
}

.input-row.readonly {
border:1px solid #dadada;
}

.input-row.onetime {
padding:12px 17px;
}

.input-row.onetime .input-text {
font-size:22px;
line-height:26px;
text-align:center;
}

.input-row.onetime input[type=text]::-webkit-input-placeholder {
position:relative;
top:-2px;
font-size:16px;
color:#b1b1b1;
}

.input-text {
position:relative;
display:block;
width:100%;
height :100%;
font-size:16px;
font-weight:400;
line-height:19px;
letter-spacing:-.5px;
color:#222;
box-sizing:border-box;
z-index:4;
}

.btn-delete {
position:absolute;
top:6px;
right:8px;
width:35px;
height:35px;
z-index:5;
background-color:#fff;
}

.icon-delete {
display:inline-block;
background-position:-244px -187px;
background-repeat:no-repeat;
width:18px;
height:18px;
margin:8px 0 0 8px;
}

.id-pw-wrap .input-row {
display:table;
table-layout:fixed;
width:100%;
box-sizing:border-box;
padding:14px 17px 13px;
}

.id-pw-wrap .input-row.on .icon-cell .icon-id {
background-position:-75px -203px;
background-repeat:no-repeat;
width:16px;
height:16px;
}

.id-pw-wrap .input-row.on .icon-cell .icon-pw {
background-position:-111px -203px;
background-repeat:no-repeat;
width:16px;
height:16px;
}

.id-pw-wrap .input-row .icon-cell {
display:table-cell;
width:24px;
vertical-align:middle;
}

.id-pw-wrap .input-row .icon-cell .icon-id,.id-pw-wrap .input-row .icon-cell .icon-pw {
position:absolute;
top:50%;
left:17px;
margin-top:-8px;
background-position:-93px -203px;
background-repeat:no-repeat;
width:16px;
height:16px;
}

.id-pw-wrap .input-row .icon-cell .icon-pw {
background-position:-129px -203px;
background-repeat:no-repeat;
width:16px;
height:16px;
}

.id-pw-wrap .input-row .input-text {
display:table-cell;
padding-right:30px;
}

.id-pw-wrap .input-row:first-child {
border-radius:6px 6px 0 0;
box-shadow:none;
}

.id-pw-wrap .input-row:last-child {
border-radius:0 0 6px 6px;
}

.error-message {
display:inline-block;
font-size:12px;
line-height:16px;
letter-spacing:-.5px;
color:#ff003e;
vertical-align:middle;
}
.btn-login-wrap {
    display : flex;
    flex-direction: column;
    align-items: center;
    margin-top:38px;
}

.btn-ones-wrap {
margin-top:10px;
}

.btn-login {
display:block;
width:100%;
border-radius:6px;
border:solid 1px rgba(0,0,0,.15);
background-color:#03c75a;
box-sizing:border-box;
padding:13px 0;
}

.btn-login .btn-text {
font-size:20px;
font-weight:700;
line-height:24px;
color:#fff;
}
.find-wrap {
text-align:center;
padding:20px 0 35px;
}

.find-wrap li+li{
padding-left:28px;
}

.find-wrap li+li::before{
content:'';
position:absolute;
top:3px;
left:12px;
width:1px;
height:12px;
border-radius:.5px;
background-color:#dadada;
}

.find-wrap .en-find-text,.find-wrap .find-text,.relogin-find-wrap .en-find-text,.relogin-find-wrap .find-text {
display:inline-block;
font-size:14px;
line-height:17px;
text-decoration:none;
color:#888;
}

.find-wrap .en-find-text,.relogin-find-wrap .en-find-text {
text-decoration:underline;
}

button,label {
cursor:pointer;
}

.u-skip,.blind {
position:absolute;
clip:rect(0000);
width:1px;
height:1px;
overflow:hidden;
margin:-1px;
}

h1,h2,h3,h4,h5,h6,.reconfirm-bottom .footer-copy .text {
font-weight:400;
}

.footer .footer-inner,.reconfirm-top {
position:relative;
text-align:center;
}

.footer .footer-link li+li,.reconfirm-bottom .footer-copy .corp+.footer-help,.reconfirm-bottom .footer-copy .text+.footer-help {
position:relative;
padding-left:13px;
}

.menu-ones.on::before,.menu-qr.on::before {
content:'';
position:absolute;
top:-1px;
left:-8px;
background-position:-17px -139px;
background-repeat:no-repeat;
width:15px;
height:62px;
}

.input-row.readonly .btn-delete {
display:none;
}

.captcha-form .captcha-btn::after,.step-wrap .step-top::after {
content:" ";
display:block;
clear:both;
}

.find-wrap li,.relogin-find-wrap li {
position:relative;
display:inline-block;
}

.reconfirm-sub .captcha-wrap .captcha-img-cover,.reconfirm-sub .captcha-wrap .captcha-img {
max-height:194px;
}

@media max-width742px{
.header .header-inner {
width:auto;
margin:0 40px;
}

.footer {
margin:0 40px;
}
}

@media max-width632px{
.banner-wrap,.login-wrap,.sns-wrap {
width:100%;
box-sizing:border-box;
padding:0 40px;
}
}

@media max-width470px{
.menu-id .menu-text,.menu-ones .menu-text,.menu-qr .menu-text {
padding-left:24px;
}

.menu-id .menu-text .text,.menu-ones .menu-text .text,.menu-qr .menu-text .text,.nudge-banner {
display:none;
}
}

@media max-width320px{
.login-wrap,.sns-wrap {
padding:0 20px;
}
}

.main-logo{
    width : 200px;
    height : 200px;
}

.btn-login-wrap > .btn {
    width: 100%;
    height: 10%;
}