@import '../bootstrap.css';

body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul {
-webkit-text-size-adjust:none;
font-family:0;
margin:0;
padding:0;
}

html {
height:100%;
font-size:14px;
}

button,input,select,textarea {
border-radius:0;
border:none;
background:0 0;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
outline:0;
text-decoration:none;
cursor:pointer;
-webkit-text-size-adjust:none;
}

fieldset,img {
border:0;
}

ol,ul {
list-style:none;
}

address,em {
font-style:normal;
}

a {
text-decoration:none;
}

table {
border-collapse:collapse;
border-spacing:0;
-webkit-text-size-adjust:none;
}

.u_skip::before {
display:block;
width:0;
height:0;
content:'\00a0';
font-size:0;
}

.footer .footer_copy .footer_logo,.header .logo,.reconfirm_top .logo {
background-image:url(https://ssl.pstatic.net/static/nid/login/m_sp_00_common_978240a6.png);
background-size:244px 107px;
background-repeat:no-repeat;
}

.bullet_help,.captcha_form .image::after,.captcha_form .reload::after,.captcha_form .voice::after,.captcha_wrap .voice_box .icon_voice,.chatbot .icon_chatbot,.icon_delete,.id_pw_wrap .input_row .icon_cell .icon_id,.id_pw_wrap .input_row .icon_cell .icon_pw,.id_pw_wrap .input_row.on .icon_cell .icon_id,.id_pw_wrap .input_row.on .icon_cell .icon_pw,.img_lock,.img_wowpoint,.ip_relogin_box .relogin_close::after,.ip_relogin_box .relogin_tip::before,.keep_check .keep_text::before,.keep_check input:checked+.keep_text::before,.lang::after,.menu_id .menu_text::before,.menu_id.on .menu_text::before,.menu_id.on::after,.menu_ones .menu_text::before,.menu_ones.on .menu_text::before,.menu_ones.on::after,.menu_ones.on::before,.menu_qr .menu_text::before,.menu_qr.on .menu_text::before,.menu_qr.on::before,.nudge_banner .nudge_close .icon_nudge_close,.ones_text .bullet_set,.pop_img_lock,.qrcode_help_stepbox .popup_close::after,.qrcode_help_stepbox .step_title::before,.reconfirm_sub .captcha_form .image::after,.reconfirm_sub .captcha_form .reload::after,.reconfirm_sub .captcha_form .voice::after,.reconfirm_sub .captcha_wrap .voice_box .icon_voice,.sns_wrap li:nth-child(1) .sns_text::before,.sns_wrap li:nth-child(2) .sns_text::before,.sns_wrap li:nth-child(3) .sns_text::before,.step_ask .ask_text::before,.sub_desc .bullet_greendot,.sub_desc .bullet_lens,.time_wrap .btn_renewal::before {
background-image:url(https://ssl.pstatic.net/static/nid/login/m_sp_01_login_008d5216.png);
background-size:266px 225px;
background-repeat:no-repeat;
}

body {
height:100%;
color:#222;
background-color:#fff;
}

.wrap {
position:relative;
height:100%;
letter-spacing:-.5px;
}

.header {
box-sizing:border-box;
}

.header .header_inner {
position:relative;
width:743px;
text-align:center;
box-sizing:border-box;
margin:0 auto;
}

.header .logo {
display:inline-block;
margin-top:108px;
vertical-align:top;
background-position:0 -51px;
background-repeat:no-repeat;
width:155px;
height:30px;
}

.lang {
position:absolute;
top:20px;
right:0;
}

.lang::after {
content:'';
position:absolute;
top:8px;
right:8px;
background-position:-147px -203px;
background-repeat:no-repeat;
width:16px;
height:14px;
z-index:0;
}

.sel {
position:relative;
font-size:12px;
font-weight:400;
line-height:18px;
width:100%;
min-width:95px;
height:30px;
color:#333;
border:1px solid #ccc;
border-radius:0;
-webkit-appearance:none;
cursor:pointer;
z-index:1;
padding:7px 8px 6px 7px;
}

.footer {
box-sizing:border-box;
padding:10px 0 32px;
}

.footer .corp,.footer .text {
font-size:12px;
line-height:15px;
letter-spacing:-.5px;
color:#888;
}

.footer .footer_link li {
display:inline-block;
}

.footer .footer_link li+li::before {
content:'';
position:absolute;
top:4px;
left:4px;
width:1px;
height:11px;
background-color:#dadada;
}

.footer .footer_link+.footer_copy {
margin-top:9px;
}

.footer .footer_copy .corp,.footer .footer_copy .text {
line-height:16px;
font-family:'Helvetica Neue',sans-serif;
}

.footer .footer_copy .corp {
font-weight:500;
color:#000;
padding:0 2px;
}

.footer .footer_copy .footer_logo {
display:inline-block;
vertical-align:top;
background-position:-157px -51px;
background-repeat:no-repeat;
width:70px;
height:15px;
}

.dimmed {
position:fixed;
top:0;
left:0;
bottom:0;
right:0;
background-color:rgba(0,0,0,.4);
z-index:200;
}

.popup_layer {
display:table;
table-layout:fixed;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
text-align:center;
z-index:210;
}

.popup_content {
vertical-align:top;
z-index:220;
margin:45px 0;
}

.login_wrap {
box-sizing:border-box;
width:460px;
margin:0 auto;
}

.menu_wrap {
display:table;
table-layout:fixed;
width:100%;
border-collapse:collapse;
}

.menu_item {
position:relative;
display:table-cell;
vertical-align:top;
}

.menu_id,.menu_ones,.menu_qr {
display:block;
position:relative;
height:65px;
padding-top:17px;
border:1px solid #e3e3e3;
border-bottom:0;
border-radius:6px 6px 0 0;
background-color:#f8f9fa;
text-align:center;
box-sizing:border-box;
z-index:2;
}

.menu_id .menu_text,.menu_ones .menu_text,.menu_qr .menu_text {
position:relative;
padding-left:24px;
font-size:16px;
font-weight:500;
line-height:20px;
letter-spacing:-.5px;
color:#777;
vertical-align:middle;
}

.menu_id .menu_text::before,.menu_ones .menu_text::before,.menu_qr .menu_text::before {
content:'';
position:absolute;
top:1px;
left:0;
}

.menu_id.on,.menu_ones.on,.menu_qr.on {
background-color:#fff;
z-index:5;
border-color:#c6c6c6;
}

.menu_id.on .menu_text,.menu_ones.on .menu_text,.menu_qr.on .menu_text {
color:#333;
}

.menu_id {
border-right:0;
border-radius:6px 0 0 0;
}

.menu_id .menu_text::before {
background-position:-194px -139px;
background-repeat:no-repeat;
width:16px;
height:16px;
}

.menu_id.on .menu_text::before {
background-position:-142px -172px;
background-repeat:no-repeat;
width:16px;
height:16px;
}

.menu_ones {
border-right:0;
border-radius:0;
}

.menu_ones .menu_text::before {
background-position:-160px -172px;
background-repeat:no-repeat;
width:16px;
height:16px;
}

.menu_ones.on .menu_text::before {
background-position:-178px -172px;
background-repeat:no-repeat;
width:16px;
height:16px;
}

.menu_qr {
border-radius:0 6px 0 0;
}

.menu_qr .menu_text::before {
background-position:-124px -172px;
background-repeat:no-repeat;
width:16px;
height:16px;
}

.menu_qr.on .menu_text::before {
background-position:-105px -172px;
background-repeat:no-repeat;
width:17px;
height:16px;
}

.panel_wrap {
position:relative;
z-index:3;
margin-top:-8px;
}

.panel_item {
border:1px solid #c6c6c6;
border-radius:6px;
background-color:#fff;
box-shadow:0 5px 8px 0 rgba(68,68,68,.04);
}

.panel_inner {
padding:20px 28px;
}

.input_row {
position:relative;
display:block;
height:10%;
border:1px solid #dadada;
border-radius:6px;
box-sizing:border-box;
text-align:left;
box-shadow:0 2px 6px 0 rgba(68,68,68,.08);
padding:16px 18px 15px;
}

.input_row .icon_id {
position:absolute;
}

.input_row+.input_row {
margin-top:-1px;
}

.input_row.focus {
border:solid 1px #03c75a;
z-index:5;
}

.input_row.readonly {
border:1px solid #dadada;
}

.input_row.onetime {
padding:12px 17px;
}

.input_row.onetime .input_text {
font-size:22px;
line-height:26px;
text-align:center;
}

.input_row.onetime input[type=text]::-webkit-input-placeholder {
position:relative;
top:-2px;
font-size:16px;
color:#b1b1b1;
}

.input_text {
position:relative;
display:block;
width:100%;
height :100%;
font-size:16px;
font-weight:400;
line-height:19px;
letter-spacing:-.5px;
color:#222;
box-sizing:border-box;
z-index:4;
}

.btn_delete {
position:absolute;
top:6px;
right:8px;
width:35px;
height:35px;
z-index:5;
background-color:#fff;
}

.icon_delete {
display:inline-block;
background-position:-244px -187px;
background-repeat:no-repeat;
width:18px;
height:18px;
margin:8px 0 0 8px;
}

.top_message_wrap {
margin-top:-26px;
padding-bottom:23px;
text-align:center;
box-sizing:border-box;
}

.top_message_wrap .message_text {
color:#666;
}

.message_wrap {
min-height:48px;
text-align:center;
box-sizing:border-box;
padding:17px 0 32px;
}

.message_text {
display:inline-block;
font-size:17px;
font-weight:500;
line-height:24px;
color:#777;
vertical-align:middle;
}

.message_text .accent {
color:#03c75a;
font-weight:700;
}

.id_pw_wrap .input_row {
display:table;
table-layout:fixed;
width:100%;
box-sizing:border-box;
padding:14px 17px 13px;
}

.id_pw_wrap .input_row.on .icon_cell .icon_id {
background-position:-75px -203px;
background-repeat:no-repeat;
width:16px;
height:16px;
}

.id_pw_wrap .input_row.on .icon_cell .icon_pw {
background-position:-111px -203px;
background-repeat:no-repeat;
width:16px;
height:16px;
}

.id_pw_wrap .input_row .icon_cell {
display:table-cell;
width:24px;
vertical-align:middle;
}

.id_pw_wrap .input_row .icon_cell .icon_id,.id_pw_wrap .input_row .icon_cell .icon_pw {
position:absolute;
top:50%;
left:17px;
margin-top:-8px;
background-position:-93px -203px;
background-repeat:no-repeat;
width:16px;
height:16px;
}

.id_pw_wrap .input_row .icon_cell .icon_pw {
background-position:-129px -203px;
background-repeat:no-repeat;
width:16px;
height:16px;
}

.id_pw_wrap .input_row .input_text {
display:table-cell;
padding-right:30px;
}

.id_pw_wrap .input_row:first-child {
border-radius:6px 6px 0 0;
box-shadow:none;
}

.id_pw_wrap .input_row:last-child {
border-radius:0 0 6px 6px;
}

.captcha_wrap {
margin-top:10px;
border-radius:6px;
box-shadow:0 3px 6px 0 rgba(68,68,68,.04);
border:solid 1px #dadada;
background-color:#fff;
text-align:center;
padding:13px;
}

.captcha_wrap .captcha_img_cover {
position:relative;
max-height:174px;
border-radius:6px;
}

.captcha_wrap .captcha_img_cover::after {
content:'';
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
border:solid 1px rgba(0,0,0,.1);
border-radius:6px;
}

.captcha_wrap .captcha_img {
display:block;
max-height:174px;
border-radius:6px;
box-sizing:border-box;
}

.captcha_wrap .captcha_desc {
padding-top:8px;
font-size:12px;
line-height:17px;
letter-spacing:-.5px;
color:#ababab;
}

.captcha_wrap .captcha_message {
padding-top:5px;
font-size:14px;
font-weight:600;
line-height:23px;
letter-spacing:-.5px;
color:#03c75a;
}

.captcha_wrap .voice_box {
width:100%;
border-radius:6px;
border:solid 1px rgba(0,0,0,.04);
background-color:#f2f2f2;
box-sizing:border-box;
padding:43px 0 42px;
}

.captcha_wrap .voice_box .icon_voice {
display:inline-block;
vertical-align:top;
background-position:-146px 0;
background-repeat:no-repeat;
width:64px;
height:50px;
}

.captcha_wrap .voice_box .voice_text {
padding-top:14px;
font-size:16px;
font-weight:500;
line-height:23px;
letter-spacing:-.5px;
color:#03c75a;
}

.captcha_form {
position:relative;
margin-top:11px;
padding-right:89px;
box-sizing:border-box;
}

.captcha_form .input_row {
padding:10px 14px 9px;
}

.captcha_form .input_text {
font-size:12px;
letter-spacing:-.38px;
}

.captcha_form .captcha_btn {
position:absolute;
top:0;
right:0;
}

.captcha_form .image,.captcha_form .reload,.captcha_form .voice,.reconfirm_sub .captcha_form .image,.reconfirm_sub .captcha_form .voice {
overflow:hidden;
float:left;
width:40px;
height:40px;
padding-top:3px;
border-radius:6px;
box-shadow:0 3px 6px 0 rgba(68,68,68,.04);
border:solid 1px #dadada;
background-color:#fff;
box-sizing:border-box;
vertical-align:top;
}

.captcha_form .image::after,.captcha_form .reload::after,.captcha_form .voice::after,.reconfirm_sub .captcha_form .image::after,.reconfirm_sub .captcha_form .voice::after {
content:'';
display:inline-block;
background-position:-212px -172px;
background-repeat:no-repeat;
width:24px;
height:24px;
}

.captcha_form .image+.image,.captcha_form .image+.voice,.captcha_form .reload+.image,.captcha_form .reload+.voice,.captcha_form .voice+.image,.captcha_form .voice+.voice,.reconfirm_sub .captcha_form .image+.image,.reconfirm_sub .captcha_form .image+.voice,.reconfirm_sub .captcha_form .voice+.image,.reconfirm_sub .captcha_form .voice+.voice {
margin-left:5px;
}

.captcha_form .voice::after {
margin-left:5px;
background-position:-212px -120px;
background-repeat:no-repeat;
width:24px;
height:24px;
}

.captcha_form .image::after {
background-position:-212px -146px;
background-repeat:no-repeat;
width:24px;
height:24px;
}

.login_keep_wrap {
position:relative;
margin-top:13px;
padding-right:90px;
}

.keep_check {
position:relative;
padding-left:23px;
}

.keep_check .input_keep {
position:absolute;
top:2px;
left:3px;
width:15px;
height:15px;
}

.keep_check .keep_text {
display:inline-block;
font-size:14px;
font-weight:500;
line-height:17px;
color:#777;
}

.keep_check .keep_text::before {
content:'';
position:absolute;
top:0;
left:0;
background-position:-244px -87px;
background-repeat:no-repeat;
width:18px;
height:18px;
background-color:#fff;
}

.keep_check input:checked+.keep_text::before {
background-position:-244px -167px;
background-repeat:no-repeat;
width:18px;
height:18px;
}

.ip_check {
position:absolute;
top:0;
right:0;
padding-right:38px;
}

.ip_check .ip_text {
font-size:14px;
font-weight:500;
line-height:17px;
letter-spacing:-.41px;
color:#777;
}

.ip_check .switch {
position:absolute;
top:50%;
right:0;
margin-top:-9px;
text-align:center;
box-sizing:border-box;
-webkit-tap-highlight-color:transparent;
}

.ip_check .switch_checkbox {
position:absolute;
top:5px;
right:5px;
}

.ip_check .switch_btn {
display:block;
position:relative;
width:33px;
height:18px;
border-radius:12px;
background-color:#c3c8c9;
box-sizing:border-box;
margin:0 auto;
}

.ip_check .switch_btn::before {
content:'';
display:block;
position:absolute;
top:50%;
left:2px;
width:14px;
height:14px;
margin-top:-7px;
border-radius:50%;
background-color:#fff;
box-shadow:0 1px 2px 0 rgba(0,0,0,.1);
transition:all .1s ease;
box-sizing:border-box;
}

.ip_check .switch_checkbox:checked+.switch_btn {
background-color:#03c75a;
transition:all .2s ease;
}

.ip_check .switch_checkbox:checked+.switch_btn::before {
transform:translate(15px,0);
background-color:#fff;
}

.error_message {
display:inline-block;
font-size:12px;
line-height:16px;
letter-spacing:-.5px;
color:#ff003e;
vertical-align:middle;
}

.login_error_wrap {
position:relative;
min-height:34px;
padding-right:40px;
margin:24px 0 -22px;
}

.login_error_wrap::before {
content:'';
display:inline-block;
width:0;
height:34px;
line-height:34px;
vertical-align:middle;
}

.login_error_wrap.global {
padding-right:0;
}

.chatbot {
position:absolute;
top:0;
right:0;
width:34px;
height:34px;
border-radius:5px;
border:solid 1px #dadada;
background-color:#fff;
text-align:center;
box-sizing:border-box;
}

.chatbot .icon_chatbot {
display:inline-block;
margin-top:5px;
background-position:-181px -104px;
background-repeat:no-repeat;
width:24px;
height:24px;
}

.img_lock,.pop_img_lock {
display:block;
background-position:-76px 0;
background-repeat:no-repeat;
width:68px;
height:68px;
margin:41px auto 17px;
}

.pop_img_lock {
margin:7px auto 18px;
}

.ones_text {
font-size:15px;
line-height:21px;
letter-spacing:-.6px;
color:#1e1e23;
text-align:center;
vertical-align:top;
padding:21px 0 38px;
}

.ones_text .bullet_set {
display:inline-block;
margin-top:2px;
vertical-align:top;
background-position:-86px -172px;
background-repeat:no-repeat;
width:17px;
height:16px;
}

.ones_text .accent {
font-weight:500;
color:#03c75a;
}

.top_desc {
font-size:14px;
font-weight:500;
line-height:18px;
letter-spacing:-.35px;
color:#1e1e23;
text-align:center;
padding:5px 0 4px;
}

.sub_desc {
padding-bottom:13px;
font-size:12px;
line-height:18px;
color:#666;
text-align:center;
}

.sub_desc .bullet_greendot,.sub_desc .bullet_lens {
display:inline-block;
margin-top:3px;
vertical-align:top;
background-position:-198px -65px;
background-repeat:no-repeat;
width:11px;
height:11px;
}

.sub_desc .bullet_lens {
background-position:-198px -78px;
background-repeat:no-repeat;
width:11px;
height:11px;
}

.sub_desc .point {
display:inline-block;
width:27px;
height:16px;
line-height:14px;
border-radius:10px;
background-color:#000;
color:#fff;
box-sizing:border-box;
margin:0 1px;
padding:1px 6px;
}

.bullet_help {
display:inline-block;
margin-top:3px;
vertical-align:top;
background-position:-198px -52px;
background-repeat:no-repeat;
width:11px;
height:11px;
}

.qrcode_map {
display:block;
text-align:center;
padding:16px 0 23px;
}

.qrcode_map .qr_img {
display:inline-block;
vertical-align:top;
}

.time_wrap {
position:absolute;
left:112px;
bottom:0;
min-width:85px;
text-align:left;
}

.time_wrap .time_text {
padding-bottom:1px;
font-size:13px;
line-height:20px;
font-weight:600;
color:#555;
}

.time_wrap .time_num {
position:relative;
display:inline-block;
font-size:16px;
font-weight:700;
letter-spacing:-.3px;
color:#03c75a;
}

.time_wrap .btn_renewal {
position:relative;
padding-left:26px;
font-size:15px;
line-height:19px;
font-weight:600;
color:#03c75a;
}

.time_wrap .btn_renewal::before {
content:'';
position:absolute;
top:50%;
left:0;
margin-top:-10px;
background-position:-244px -25px;
background-repeat:no-repeat;
width:21px;
height:20px;
}

.qrcode_valid {
box-sizing:border-box;
padding:40px 0 43px;
}

.qrcode_valid .sub_desc {
font-size:13px;
line-height:19px;
color:#8e8e8e;
padding:13px 0 12px;
}

.qrcode_valid .time_wrap {
position:inherit;
text-align:center;
}

.img_wowpoint {
display:block;
vertical-align:top;
background-position:-146px -52px;
background-repeat:no-repeat;
width:50px;
height:50px;
margin:0 auto;
}

.popup_qrcode_help {
text-align:left;
padding:50px;
}

.qrcode_help_stepbox {
position:relative;
width:978px;
height:760px;
border-radius:12px;
box-shadow:0 6px 20px 0 rgba(0,0,0,.3);
border:solid 1.5px rgba(0,0,0,.1);
background-image:linear-gradient(totop,#2c537d,#2c4e76);
box-sizing:border-box;
margin:0 auto;
padding:34px 34px 50px 50px;
}

.qrcode_help_stepbox .popup_close {
position:absolute;
top:28px;
right:28px;
width:40px;
height:40px;
z-index:1;
}

.qrcode_help_stepbox .popup_close::after {
content:'';
display:inline-block;
background-position:-212px -63px;
background-repeat:no-repeat;
width:29px;
height:29px;
}

.qrcode_help_stepbox .step_title {
position:relative;
padding-top:33px;
padding-left:108px;
text-align:left;
}

.qrcode_help_stepbox .step_title::before {
content:'';
position:absolute;
top:26px;
left:13px;
background-position:0 0;
background-repeat:no-repeat;
width:74px;
height:74px;
}

.step_wrap {
padding-top:46px;
}

.step_wrap .step_top {
padding-left:10px;
}

.step_wrap .step_top li {
float:left;
}

.step_wrap .step_top li+li {
margin-left:24px;
}

.step_wrap .step_top img {
display:block;
}

.step_wrap .step_top+.step_desc li {
margin-top:-33px;
}

.step_wrap .step_desc {
margin:-30px -44px 0;
}

.step_ask {
position:relative;
top:-25px;
margin-left:15px;
}

.step_ask .ask_text {
display:inline-block;
padding-left:22px;
font-size:13px;
color:#90b5db;
}

.step_ask .ask_text::before {
content:'';
position:absolute;
top:2px;
left:0;
background-position:-198px -52px;
background-repeat:no-repeat;
width:11px;
height:11px;
}

.step_ask .ask_link {
padding-left:5px;
}

.step_ask .ask_link .text {
font-size:13px;
font-weight:600;
color:#c9dffa;
}

.popup_ip_relogin {
text-align:left;
padding:50px 0;
}

.ip_relogin_box {
position:relative;
border-radius:16px;
background-color:#fff;
box-sizing:border-box;
margin:0 auto;
padding:56px 0 0;
}

.ip_relogin_box .relogin_title {
margin-left:35px;
font-size:34px;
line-height:41px;
color:#000;
}

.ip_relogin_box .relogin_title .accent {
color:#03c75a;
}

.ip_relogin_box .relogin_desc {
margin-left:35px;
padding-top:10px;
font-size:18px;
font-weight:500;
line-height:23px;
color:#9d9fa6;
}

.ip_relogin_box .relogin_tip {
position:relative;
margin-left:35px;
font-size:15px;
font-weight:500;
line-height:23px;
color:#a3a5aa;
padding:0 0 21px 41px;
}

.ip_relogin_box .relogin_tip::before {
content:'';
position:absolute;
top:3px;
left:0;
background-position:-34px -172px;
background-repeat:no-repeat;
width:30px;
height:19px;
}

.ip_relogin_box .relogin_close {
position:absolute;
top:37px;
right:35px;
width:40px;
height:40px;
text-align:center;
}

.ip_relogin_box .relogin_close::after {
content:'';
display:inline-block;
margin-top:5px;
background-position:-212px -32px;
background-repeat:no-repeat;
width:29px;
height:29px;
}

.pop_top_desc {
margin-top:-2px;
font-size:17px;
font-weight:500;
line-height:25px;
color:#49494c;
text-align:center;
}

.pop_qrcode_map {
padding-top:18px;
text-align:center;
}

.pop_qrcode_map .qr_img {
border:1px solid #dadada;
padding:10px;
}

.pop_time_wrap {
padding-top:19px;
text-align:center;
}

.pop_time_wrap .time_text {
padding-bottom:1px;
font-size:1rem;
font-weight:600;
letter-spacing:-.44px;
color:#000;
}

.pop_time_wrap .time_num {
position:relative;
display:inline-block;
font-size:20px;
font-weight:700;
letter-spacing:-.42px;
color:#03c75a;
}

.pw_reconfirm_box {
position:relative;
background-color:#fff;
margin:50px auto;
}

.reconfirm_inner {
box-sizing:border-box;
padding:20px 20px 40px;
}

.reconfirm_top+.reconfirm_sub {
padding-top:20px;
}

.reconfirm_top .logo {
display:inline-block;
margin-top:62px;
vertical-align:top;
background-position:0 -83px;
background-repeat:no-repeat;
width:124px;
height:24px;
}

.reconfirm_top .lang {
top:0;
}

.reconfirm_top .title {
display:block;
padding-top:31px;
font-size:17px;
font-weight:600;
line-height:24px;
letter-spacing:-.5px;
color:#000;
}

.reconfirm_top .title .accent {
font-weight:700;
color:#03c75a;
}

.reconfirm_top .desc {
padding-top:8px;
font-size:14px;
font-weight:500;
line-height:19px;
letter-spacing:-.3px;
color:#76808d;
}

.reconfirm_sub {
text-align:left;
padding:0 20px;
}

.reconfirm_sub+.reconfirm_bottom {
margin-top:14px;
}

.reconfirm_sub .error_reconfirm {
margin-top:12px;
padding-bottom:4px;
font-size:0;
}

.reconfirm_sub .error_reconfirm .error_message {
font-size:12px;
}

.reconfirm_sub .captcha_wrap {
padding-top:12px;
}

.reconfirm_sub .captcha_wrap .voice_box {
padding:53px 0 52px;
}

.reconfirm_sub .captcha_wrap .voice_box .icon_voice {
vertical-align:top;
background-position:-69px -76px;
background-repeat:no-repeat;
width:64px;
height:50px;
}

.reconfirm_sub .captcha_wrap .voice_box .voice_text {
padding-top:14px;
font-size:16px;
line-height:23px;
}

.reconfirm_sub .captcha_form {
margin-top:11px;
padding-right:116px;
}

.reconfirm_sub .captcha_form .image,.reconfirm_sub .captcha_form .reload,.reconfirm_sub .captcha_form .voice {
width:52px;
height:52px;
}

.reconfirm_sub .captcha_form .image::after,.reconfirm_sub .captcha_form .reload::after,.reconfirm_sub .captcha_form .voice::after {
background-position:-162px -139px;
background-repeat:no-repeat;
width:30px;
height:30px;
}

.reconfirm_sub .captcha_form .image+.image,.reconfirm_sub .captcha_form .image+.voice,.reconfirm_sub .captcha_form .reload+.image,.reconfirm_sub .captcha_form .reload+.voice,.reconfirm_sub .captcha_form .voice+.image,.reconfirm_sub .captcha_form .voice+.voice {
margin-left:6px;
}

.reconfirm_sub .captcha_form .voice::after {
background-position:-34px -139px;
background-repeat:no-repeat;
width:30px;
height:31px;
}

.reconfirm_sub .captcha_form .image::after {
background-position:-212px 0;
background-repeat:no-repeat;
width:30px;
height:30px;
}

.reconfirm_bottom .footer_copy .corp,.reconfirm_bottom .footer_copy .text {
font-size:12px;
font-weight:500;
line-height:15px;
letter-spacing:-.43px;
color:#888;
}

.reconfirm_bottom .footer_copy .corp+.footer_help::before,.reconfirm_bottom .footer_copy .text+.footer_help::before {
content:'';
position:absolute;
top:50%;
left:5px;
width:1px;
height:12px;
margin-top:-6px;
border-radius:.5px;
background-color:#dadada;
}

.btn_login_wrap {
margin-top:38px;
}

.btn_ones_wrap {
margin-top:10px;
}

.btn_login {
display:block;
width:100%;
border-radius:6px;
border:solid 1px rgba(0,0,0,.15);
background-color:#03c75a;
box-sizing:border-box;
padding:13px 0;
}

.btn_login .btn_text {
font-size:20px;
font-weight:700;
line-height:24px;
color:#fff;
}

.btn_reconfirm_wrap {
margin-top:12px;
}

.btn_reconfirm_wrap .btn_login {
border-radius:5.4px;
padding:13px 0;
}

.btn_reconfirm_wrap .btn_login .btn_text {
font-size:20px;
line-height:24px;
letter-spacing:-.5px;
}

.find_wrap,.relogin_find_wrap {
text-align:center;
padding:20px 0 35px;
}

.find_wrap li+li,.relogin_find_wrap li+li {
padding-left:28px;
}

.find_wrap li+li::before,.relogin_find_wrap li+li::before {
content:'';
position:absolute;
top:3px;
left:12px;
width:1px;
height:12px;
border-radius:.5px;
background-color:#dadada;
}

.find_wrap .en_find_text,.find_wrap .find_text,.relogin_find_wrap .en_find_text,.relogin_find_wrap .find_text {
display:inline-block;
font-size:14px;
line-height:17px;
text-decoration:none;
color:#888;
}

.find_wrap .en_find_text,.relogin_find_wrap .en_find_text {
text-decoration:underline;
}

.sns_cover {
display:block;
width:460px;
padding-bottom:100px;
box-sizing:border-box;
margin:0 auto;
}

.sns_wrap {
display:table;
table-layout:fixed;
width:100%;
}

.sns_wrap li+li .sns_item {
margin-left:9px;
}

.sns_wrap li:nth-child(1) .sns_text::before,.sns_wrap li:nth-child(2) .sns_text::before,.sns_wrap li:nth-child(3) .sns_text::before {
content:'';
position:absolute;
top:0;
left:0;
background-position:-50px -203px;
background-repeat:no-repeat;
width:23px;
height:22px;
}

.sns_wrap li:nth-child(2) .sns_text::before {
background-position:0 -203px;
background-repeat:no-repeat;
width:23px;
height:22px;
}

.sns_wrap li:nth-child(3) .sns_text::before {
background-position:-25px -203px;
background-repeat:no-repeat;
width:23px;
height:22px;
}

.sns_wrap .sns_item {
display:block;
border-radius:6px;
box-shadow:0 5px 8px 0 rgba(68,68,68,.04);
border:solid 1px #dadada;
background-color:#fff;
padding:18px 14px;
}

.sns_wrap .sns_text {
position:relative;
display:block;
padding-left:40px;
font-size:18px;
font-weight:500;
color:#000;
word-break:break-all;
}

.nudge_banner {
position:absolute;
top:-17px;
right:-37px;
height:25px;
border-radius:12px;
box-shadow:0 2px 4px 0 rgba(0,0,0,.1);
border:solid 1px #03c75a;
background-color:#fff;
box-sizing:border-box;
z-index:10;
padding:4px 20px 3px 9px;
}

.nudge_banner .nudge_text {
display:inline-block;
font-size:10px;
font-weight:500;
line-height:14px;
letter-spacing:-.56px;
white-space:nowrap;
color:#03c75a;
vertical-align:top;
}

.nudge_banner .nudge_close {
position:absolute;
top:-2px;
right:0;
width:24px;
height:25px;
}

.nudge_banner .nudge_close .icon_nudge_close {
display:inline-block;
background-position:-198px -91px;
background-repeat:no-repeat;
width:9px;
height:9px;
}

.banner_wrap {
width:460px;
height:0px;
text-align:center;
margin:0 auto;
}

.banner_inner {
display:inline-block;
box-sizing:border-box;
}

button,label {
cursor:pointer;
}

.u_skip,.blind {
position:absolute;
clip:rect(0000);
width:1px;
height:1px;
overflow:hidden;
margin:-1px;
}

h1,h2,h3,h4,h5,h6,.reconfirm_bottom .footer_copy .text {
font-weight:400;
}

.footer .footer_inner,.reconfirm_top {
position:relative;
text-align:center;
}

.footer .footer_link li+li,.reconfirm_bottom .footer_copy .corp+.footer_help,.reconfirm_bottom .footer_copy .text+.footer_help {
position:relative;
padding-left:13px;
}

.popup_layer_inner,.sns_wrap li {
display:table-cell;
vertical-align:middle;
}

.menu_id.on::after,.menu_ones.on::after {
content:'';
position:absolute;
top:-1px;
right:-8px;
background-position:0 -139px;
background-repeat:no-repeat;
width:15px;
height:62px;
}

.menu_ones.on::before,.menu_qr.on::before {
content:'';
position:absolute;
top:-1px;
left:-8px;
background-position:-17px -139px;
background-repeat:no-repeat;
width:15px;
height:62px;
}

::-webkit-input-placeholder,input[type=text]::-webkit-input-placeholder {
color:#b1b1b1;
}

.input_row.readonly .btn_delete,.login_error_wrap.global::before {
display:none;
}

.captcha_form .captcha_btn::after,.step_wrap .step_top::after {
content:" ";
display:block;
clear:both;
}

.qrcode_map .qrcode_inner,.find_wrap li,.relogin_find_wrap li {
position:relative;
display:inline-block;
}

.qrcode_help_stepbox .step_title .step_title_img,.banner_inner img {
vertical-align:top;
}

.reconfirm_sub .captcha_wrap .captcha_img_cover,.reconfirm_sub .captcha_wrap .captcha_img {
max-height:194px;
}

@media max-width742px{
.header .header_inner {
width:auto;
margin:0 40px;
}

.footer {
margin:0 40px;
}
}

@media max-width632px{
.banner_wrap,.login_wrap,.sns_wrap {
width:100%;
box-sizing:border-box;
padding:0 40px;
}
}

@media max-width470px{
.menu_id .menu_text,.menu_ones .menu_text,.menu_qr .menu_text {
padding-left:24px;
}

.menu_id .menu_text .text,.menu_ones .menu_text .text,.menu_qr .menu_text .text,.nudge_banner {
display:none;
}
}

@media max-width320px{
.login_wrap,.sns_wrap {
padding:0 20px;
}
}

.main-logo{
    width : 250px;
    height : 250px;
}

.btn_login_wrap > .btn{
    width : 100%;
    height : 10%;
}