version: '3.0'

services:
  app:
    restart: always
    container_name: gathergo-app
    image: jeongjeong/gathergo-server:latest
    ports:
      - 8080:8080
    env_file:
      - .env
    depends_on:
      - mysql
      - redis
    deploy:
      resources:
        limits:
          memory: 800M
  mysql:
    restart: always
    container_name: gathergo-mysql
    image: mysql:8.0
    ports:
      - 3306:3306
    volumes:
      - gathergo-volume: /var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${SPRING_DATABASE_PASSWORD}
      MYSQL_DATABASE: ${SPRING_DATABASE_SCHEMA}
    deploy:
      resources:
        limits:
          memory: 900M

  redis:
    restart: always
    container_name: gathergo-redis
    image: redis:6.0
    ports:
      - 6379:6379
    volumes:
      - gathergo-redis-volume: /data
    deploy:
      resources:
        limits:
          memory: 200M

volumes:
  - gathergo-volume:
  - gathergo-redis-volume:
