/*삭제 버튼 관련*/

.comment-delete{
    position: fixed;
    z-index: 10000;
    margin : 0 0 0 0;
}

.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-1 {
  transition: all 0.3s ease;
}
.btn-1:hover {
   box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}

/*모달 관련*/
.error-modal-container{
    position : fixed;
    display : flex;
    align-items : center;
    justify-content: center;
    left : 0;
    top : 0;
    width : 100%;
    height : 100%;
    z-index: 10002;

}

.error-modal-background{
    position : fixed;
    display : flex;
    align-items : center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    transition: 0.7s;
    width : 100%;
    height : 100%;

}

.error-modal{
    
  overflow: hidden;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
  -moz-transition: -moz-transform 300ms, box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
}

.error-modal > div{
  font-family: "Asap", sans-serif;
  display: block;
  font-weight : 600;
  background: transparent;
  width: 100%;
  border: 0;
}
.error-modal > div > button{
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  width: 66px;
  border: 0;
  padding: 8px 0;
  border-radius: 5px;
  background-color: #d9534f;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
  
}
.error-modal > div > button:hover{
  background-color: #bb4743;
}

.error-modal-header{
  justify-content: center;
  padding : 0;
  height : 2rem;
  width : 100%;
  font-size : 22px;
  padding : 0 0 5px 0;
}

.error-modal-message{
  padding-bottom : 10px;
}

.error-modal-divider{
  margin : 10px 0 20px 0;
}
