.feed-main-wrapper {
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.feed-main-info {
  overflow: auto;
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.feed-main-divider {
  margin: 1rem 1rem;
  height: inherit;
  border-left: 1px solid var(--bs-gray-400);
}

#map-api-readOnly {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--bs-secondary);

  margin-bottom: 1rem;
}

.feed-main-content {
  overflow-y: auto;
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.feed-main-content-scrollable {
  overflow: auto;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.feed-main-content-scrollable::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

.schedule-synthesis {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.schedule-info {
  flex-grow: 2;
  min-height: 3rem;
  line-height: 1.2rem;
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.schedule-time-badge {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.schedule-date {
  font-size: 16px;
  font-weight: 200;
}

.schedule-time {
  font-size: 12px;
  font-weight: 100;
}

.peoples {
  display: flex;
}

.people-icon {
  width: 1.2rem;
  height: 1.2rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.info-detail {
  position: relative;
  bottom: 0;
}

.feed-info.btn {
  min-width: 101px;
  margin: 2rem 0;
}

.feed-info.btn>* {
  font-size: 1.2rem;
}

.line {
  margin: 1.5rem 0;
  border-top: 1px solid var(--bs-border-color);
}

.user-info.container-md {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info .container-sm {
  display: flex;

  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.user-info button {
  min-height: 2.25rem;
  min-width: 7rem;
  margin: 2rem;
}

.user-profile {
  background: var(--bs-body-bg);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}

.user-profile-img {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
}

.user-info-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.feed-comment-container {
  background: var(--bs-light);
  flex-grow: 1;
  border-radius: 5px;
}

.feed-comment {
  align-items: center;
  display: flex;
  margin: 1rem;
  margin-right: 0;
}

.comment-icon-delete {
  margin: 0 0.5rem;
}

.comment-user-id {
  min-width: 6rem;
}

.comment-content {
  margin: 0 2rem;
  flex-grow: 1;
}

.comment-date {
  min-width: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 0.5rem;
}

.comment-input {
  display: flex;
  margin: 1rem 0.5rem;
}

.form-group {
  position: relative;
  display: fixed;
  bottom: 0;
  width: 100%;
}

.form-control {
  width: -webkit-fill-available;
}

.comment-send {
  margin-left: 0.5rem;
  width: 5rem;
  transition: 0.2s;
}

/* tooltip */
[tooltip] {
  position: relative;
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  font-size: 0.9em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001;
}

[tooltip]::after {
  content: attr(tooltip);
  /* magic! */

  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;

  width: 12rem;
  padding: 1ch 1.5ch;
  border-radius: 5px;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #fff;
  border: 1px solid var(--bs-primary);
  z-index: 1000;
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: DOWN */
[tooltip][flow^='down']::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: var(--bs-primary);
}

[tooltip][flow^='down']::after {
  top: calc(100% + 5px);
  right: -105px;
}

[tooltip][flow^='down']::before,
[tooltip][flow^='down']::after {
  transform: translate(-50%, 0.5em);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^='down']:hover::before,
[tooltip][flow^='down']:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

.container {
  max-width: 560px;
  display: inline-block;
}

.circCont {
  display: inline-block;
}

.circle {
  width: 1.2rem;
  height: 1.2rem;
  background: transparent;
  border: 0px solid var(--bs-gray-400);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 0.3rem;
}

.circle:after {
  width: 1.2rem;
  height: 2px;
  background-color: var(--bs-secondary);
  content: "";
  left: 50%;
  top: 50%;
  margin-left: -0.6rem;
  margin-top: -1px;
  position: absolute;
  transform: rotate(-45deg);
}

.circle:before {
  left: 50%;
  top: 50%;
  margin-left: -0.6rem;
  margin-top: -1px;
  width: 1.2rem;
  height: 2px;
  background-color: var(--bs-secondary);
  content: "";
  position: absolute;
  transform: rotate(45deg);
}

.circle+p {
  text-transform: lowercase;
  font-size: 14px;
  margin-bottom: 10px;
}

.simpleRotate {
  animation: rotate 0.1s 2 ease-in-out alternate;
}

@keyframes rotate {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

.circle[data-animation="simpleRotate"]:not(.simpleRotate) {
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.52, 1.775);
}

.circle[data-animation="simpleRotate"]:not(.simpleRotate):hover {
  transform: scale(1.2);
}