@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeout {

  /* Firefox */
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {

  /* Safari and Chrome */
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-o-keyframes fadeout {

  /* Opera */
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.headerhome>.header {
  border-bottom: 0;
}

.navbar {
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.navbar>.container-lg {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  justify-content: center;
}

.container-fluid {
  max-width: fit-content;
}

.navbar-brand-wrapper {
  text-align: center;
  width: 100%;
  justify-items: center;
}

.navbar-brand {
  justify-items: center;
  max-width: 200px;
}

.nav-link-wrapper {
  display: flex;
  position: absolute;
  top: 2rem;
  right: 5rem;
  max-width: fit-content;
  min-width: fit-content;
}

.nav-link-wrapper a {
  position: relative;
  overflow: hidden;
  display: block;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  padding: 0;
}

.nav-link-wrapper a span {
  display: block;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
    -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-link-wrapper a:after {
  font-size: 16px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  content: attr(data-hover);
  display: inline;
  text-align: center;
  -webkit-transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-link-wrapper a:hover {
  color: var(--bs-primary);
}

.nav-link-wrapper a:hover span {
  color: var(--bs-primary);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.nav-link-wrapper a:hover:after {
  top: 0;
}

.nav-link-wrapper div {
  position: relative;
  overflow: hidden;
  display: block;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  padding: 0;
}

.nav-link-wrapper div span {
  display: block;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
    -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-link-wrapper div:after {
  font-size: 16px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  content: attr(data-hover);
  display: inline;
  text-align: center;
  -webkit-transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-link-wrapper div:hover {
  color: var(--bs-primary);
}

.nav-link-wrapper div:hover span {
  color: var(--bs-primary);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.nav-link-wrapper div:hover:after {
  top: 0;
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

.navbar-nav.navbar-filter {
  justify-content: center;
}

.container-fluid>h1 {
  display: flex;
  justify-content: center;
  margin-right: 3em;
}

.form-control.me-sm-2 {
  line-height: 1;
  width: 280px;
  background-color: #fff;
}

.nav-item {
  display: flex;
  margin-right: 0.7rem;
}

.nav-link span {
  font-size: 1rem;
}

li.nav-item.divider {
  border-left: 1px solid #000;
  color: black;
}

.dot {
  position: relative;
  height: 6px;
  width: 6px;
  background-color: red;
  border-radius: 50%;
  visibility: hidden;
}

.dot.unread {
  visibility: visible;
}

/* search box */
.search-container {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--bs-primary);
  transition: top 0.4s ease-out;
  z-index: 1;
}

.search-container.show {
  top: 0;
}

.search-container-logo {
  max-width: 4rem;
  vertical-align: top;
}

.search-input {
  outline: none;
  border: none;
  font-size: 2rem;
  align-items: center;
  min-width: 75%;
}

.search-container>button {
  min-height: 1rem;
  height: 3rem;
}

.navbar-divider {
  margin: 1rem 1rem;
  height: 3rem;
  border-left: 1px solid var(--bs-gray-400);
}

.card-wrapper {
  display: none;
  padding: 2rem 4rem;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(339.4px, 1fr));
}

.card-wrapper.show {
  display: grid;

}

@media (min-width: 840px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  width: 300px;
  margin: 1.2rem;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
}

.badge {
  margin-right: 1rem;
}

.card-title {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  height: 200px;
  background-image: url('../../assets/baseball.jpeg');
  background-size: cover;
  color: white;
  align-items: center;
  display: flex;
  text-shadow: 1px 1px 1px #000;
}

.card-title strong {
  font-size: 2rem;
  overflow: hidden;
  margin: 20px;
}

.card-text strong {
  width: 265px;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.card-thumbnail {
  max-height: 200px;
  object-fit: fill;

  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card-thumbnail-wrapper {
  overflow: hidden;
}

.card:hover {
  border: 1px solid var(--bs-gray-500);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.125);
}

.card:hover .card-thumbnail {
  opacity: 0.8;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.card::before {
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
}

.card-body>* {
  margin-bottom: 5px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.user-host-meet-peoples {
  width: 1.2rem;
  height: 1.2rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
  display: flex;
  align-items: center;
}

.dropdown-item-wrapper.category {
  margin: 0 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}

.dropdown-item.category {
  min-height: 4rem;
  min-width: 5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.dropdown-item.category.default-item {
  min-height: unset;
  min-width: unset;
  border-radius: unset;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);

}

#fba {
  margin: 16px;
  justify-content: center;
  position: fixed;
  bottom: 80px;
  right: 20px;
  background: rgba(0, 0, 0, 0.7);
  width: 48px;
  height: 48px;
  display: flex;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#fba img {
  width: 28px;
  filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(1deg) brightness(103%) contrast(103%);
  margin: 0;
  position: relative;
  top: 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#fba:hover {
  background: rgba(0, 0, 0, 0.9);
}

#fba:hover img {
  color: #fff;
  top: -5px;
}

#nav-tab {
  background: var(--bs-light);
}

#nav-tab1 {
  margin-left: 2rem;
}

#nav-tab1,
#nav-tab2 {
  cursor: pointer;
}
