.header {
  border-bottom: 1px solid var(--bs-border-color);
}

.navbar>.container-lg {
  max-width: 100%;
}

.navbar-home-Logo {
  margin-left: 2rem;
  max-width: 4rem;
}

.nav-link-wrapper {
  display: flex;
  position: absolute;
  top: 2rem;
  right: 5rem;
  max-width: fit-content;
  min-width: fit-content;
}

/* .nav-link-wrapper.show {
  display: flex;
} */

.nav-link-wrapper a {
  position: relative;
  overflow: hidden;
  display: block;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  padding: 0;
}

.nav-link-wrapper a span {
  display: block;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
    -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-link-wrapper a:after {
  font-size: 16px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  content: attr(data-hover);
  display: inline;
  text-align: center;
  -webkit-transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-link-wrapper a:hover {
  color: var(--bs-primary);
}

.nav-link-wrapper div.cancel:hover,
.nav-link-wrapper a.cancel:hover {
  cursor: pointer;
  color: var(--bs-danger);
}

.nav-link-wrapper a:hover span {
  color: var(--bs-primary);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.nav-link-wrapper div.cancel:hover span,
.nav-link-wrapper a.cancel:hover span {
  cursor: pointer;
  color: var(--bs-danger);
}

.nav-link-wrapper a:hover:after {
  top: 0;
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

.navbar-nav.navbar-filter {
  justify-content: center;
}

.container-fluid>h1 {
  display: flex;
  justify-content: center;
  margin-right: 3em;
}

.nav-item {
  display: flex;
  margin-right: 0.7rem;
}

.nav-link span {
  font-size: 1rem;
}

/* li.nav-item.divider {
  border-right: 1px solid #000;
  color: black;
} */

.dot {
  position: relative;
  height: 6px;
  width: 6px;
  background-color: red;
  border-radius: 50%;
  visibility: hidden;
}

.dot.unread {
  visibility: visible;
}

.dropdown {
  /* margin: 0; */
  border-radius: 0.5rem;
  color: #3e3f3a;
}

.form-input.dropdown {
  width: fit-content;
  border: 1px solid #ced4da;
}

.dropdown-item-wrapper.category {
  margin: 0 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}

.dropdown-item.category {
  min-height: 4rem;
  min-width: 5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-self: start;
  margin: 4rem;
  padding-left: 15%;
  padding-right: 15%;
}

.form-wrapper>* {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.leading-text {
  min-width: 30%;
}

.form-input {
  position: relative;
  width: 100%;
}



.feed-create-button {
  margin: 0;
  justify-content: center;
  font-size: 1.5rem;
}

.form-input-date-time {
  display: flex;
}

.form-input-date-time .divider {
  width: 5%;
}

.form-input-date {
  width: 100%;
}

.form-input-time {
  width: 100%;
}

.form-input-time #timePicker {
  display: none;
  position: absolute;
  top: 51px;
  z-index: 2;
  border-radius: 5px;
  width: 100%;
}

.form-input-time #timePicker.show {
  display: block;
}

.form-address {
  align-items: flex-start;
}

.form-input-map-doromyeong {
  display: flex;
  margin-bottom: 1rem;
}

#form-map-icon {
  display: flex;
  width: 2rem;
  height: 2rem;
  margin: 10px;
  cursor: pointer;
}

#addressReadOnlyInput {
  background: var(--bs-gray-100);
  box-shadow: unset;
}

.datepicker-controls .button:focus {
  border-color: var(--bs-primary);
}
.datepicker-cell.selected,
.datepicker-cell.selected:hover {
    background-color: var(--bs-primary);
}

#timePicker .fgtp.inline{
  border-radius: 5px;
}