@import './index.css';
@import './bootstrap.css';

.profile-layout{
    display : flex;
    flex-direction: row;
    width : 100%;
    height : 100vh;
}

.profile-sidebar{
    height : 90%;
    min-width : 200px;
    background-color : #FFF;
    border-right : solid 1px var(--bs-border-color);
    
}

.mypage{
    display : flex;
    width : 100%;
    height : 6.25rem;
    justify-content: center;
    align-items: center;
    color : #325d88;
    font-size : 30px;
    border-bottom : 1px solid var(--bs-border-color);
}

.nav-link{
    justify-content: center;
    align-items: center;
}


.tab {
  float: left;
  width: 100%;
  height: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  border-bottom : 1px var(--bs-border-color) solid;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #f8f9fa;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #e7e7e7;
}

.profile-main{
    height :90%;
    width : 100%;
    background-color : #FFF;
    justify-content: center;
    align-items: center;
    overflow : auto;
}

#sidebar-profile-body{
    right : 0;
    position : relative;
    width : 100%;
    padding : 80px 200px 80px 100px;
    background-color : #FFFFFF
}

.user-profilepage{
  background: var(--bs-body-bg);
  width: 100%;
  height: 8rem;
  min-width: 20rem;
  border-radius: 50%;
  overflow: hidden;
}

.user-profilepage-img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.sidebar-user-info.container-md {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-user-info .container-sm {
  width: 100%;
  display: flex;

  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.profile-space {
  min-width: 2rem;
  width: 100%;
}

.user-profile-desc-header{
    padding : 15px 0px 15px 0px;
}

.user-profile-desc-header {
  display: flex;
  align-items: baseline;
}

.user-profile-desc .icon {
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
}