.profile-layout{
    display : flex;
    flex-direction: row;
    width : 100%;
    height : 841px;
    overflow : hidden;
}

.profile-sidebar{
    height : 100%;
    min-width : 200px;
    background-color : #FFF;
    border-right : solid 1px var(--bs-border-color);
    
}

.mypage{
    display : flex;
    width : 100%;
    height : 6.25rem;
    justify-content: center;
    align-items: center;
    color : #325d88;
    font-size : 30px;
    border-bottom : 1px solid var(--bs-border-color);
}

.nav-link{
    justify-content: center;
    align-items: center;
}


.tab {
  float: left;
  width: 100%;
  height: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  border-bottom : 1px var(--bs-border-color) solid;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #f8f9fa;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #e7e7e7;
  border-left : 5px solid #325d88;
  transition : 1s;
}

.profile-main{
    display : flex;
    height :90%;
    width : 100%;
    background-color : #FFF;
    justify-content: center;
    align-items: center;
    overflow : auto;
}

#sidebar-profile-body{
    right : 0;
    position : relative;
    width : 100%;
    height : 100%;
    padding : 80px 200px 80px 100px;
    background-color : #FFFFFF
}

.user-profilepage{
  /* background: var(--bs-body-bg);
  width: 30%;
  min-width: 3rem;
  overflow: hidden; */
  display : flex;
  flex-direction :row-reverse
}

.user-profilepage-img {
  object-fit: cover;
  display: block;
  width: 33%;

}

.sidebar-user-info.container-md {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-user-info .container-sm {
  width: 100%;
  display: flex;

  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.profile-space {
  min-width: 2rem;
  width: 100%;
}

.user-profile-desc-header{
    padding : 15px 0px 15px 0px;
}

.user-profile-desc-header {
  display: flex;
  align-items: baseline;
}

.user-profile-desc .icon {
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
}


table {
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  margin : 25px 0 25px 0;
}

th {
  text-align: left;
}
  
thead {
  font-weight: bold;
  color: #fff;
  background: #73685d;
}
  
 td, th {
  padding: 1em .5em;
  vertical-align: middle;
}
  
 td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: transparent;
  cursor : pointer;
}

tbody > tr:hover{
  background : #f8f9fa;
}
  
 @media all and (max-width: 768px) {
    
  table, thead, tbody, th, td, tr {
    display: block;
  }
  
  th {
    text-align: right;
  }
  
  table {
    position: relative; 
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  
  thead {
    float: left;
    white-space: nowrap;
  }
  
  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }
  
  tr {
    display: inline-block;
    vertical-align: top;
  }
  
  th {
    border-bottom: 1px solid #a39485;
  }
  
  td {
    border-bottom: 1px solid #e5e5e5;
  }
  
  
  }
.user-schedule {
  display: flex;
  margin-bottom: 2rem;
}

.schedule-info {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul.user-schedule{
  flex-direction: column;
}

.schedule-data {
  display: flex;
}

.user-schedule-wrapper > .user-schedule > .user-schedule:hover{
  background : #f8f9fa;
  cursor : pointer;
}


#profile-fix{
    display : flex;
    width : 100%;
    align-items : center;
    justify-content: center;
}

.profile-fix-main{
    display : flex;
    flex-direction: row;
    margin-top : 100px;
    width : 70%;
    justify-content: center;

}

.profile-userInfo{
    position: absolute;
    left: 330px;
    top: 155px;

}

.profile-img-name{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right : 100px;
    overflow : hidden;
}

.profile-context{
    display : flex;
    flex-direction : column;
    width : 60%;
    height : 100%;
}

.profile-fix-image{
    position : relative;
    width : 136px;
    height : 200px;
    min-width : 136px;
}

.profile-textarea{
    display : flex;
    flex-direction :row;
    margin-bottom : 30px;
    align-items: center;
    justify-content: center;
}

/* .form-control{
    background-color: #f1f1f1;
    border-color : #FFF;
    height : 34px;
    padding : 6px 12px;
    font-size : 14px;
    line-height : 1.428;
    border-radius : 4px;
} */

.register-button{
    width : 8rem;
    font-weight : bold;
}

.image-button{
    display : flex;
    flex-direction : row;
    justify-content: space-between;
    width : 64%;
    position : relative;
    align-items : center;
    margin : 0 0 30px 0;
}

.profile-fix-image-button{
    width : 40px;
    height : 40px;
    filter: invert(33%) sepia(11%) saturate(2546%) hue-rotate(169deg) brightness(96%) contrast(89%);
    cursor : pointer;
}

.profile-button{
    display : flex;
    flex-direction: row;
    width : 100%;
    justify-content: center;
}

#logout-modal{
    position : fixed;
    display : flex;
    width : 100%;
    height : 100%;
    background-color: rgb(0,0,0,0.2);
    top : 0;
    left : 0;
    z-index : 2;
    justify-content: center;
    align-items: center;
}

.logout-modal-content{
    background-color : white;
    width : 325px;
    height : 160px;
    text-align: center;
    border-radius : 12px;
    justify-content: center;
}

.logout-modal-button{
    display : flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    margin-top : 30px;
}

#button-logout, #button-cancel{
    width : 96px;
    height : 40px;
}
