@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeout {
  /* Firefox */
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  /* Safari and Chrome */
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-o-keyframes fadeout {
  /* Opera */
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.header {
  border-bottom: 1px solid var(--bs-border-color);
}
.navbar {
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.navbar > .container-lg {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  justify-content: center;
}
.container-fluid {
  max-width: fit-content;
}
.navbar-brand-wrapper {
  text-align: center;
  width: 100%;
  justify-items: center;
}
.navbar-brand {
  justify-items: center;
  max-width: 200px;
}

.nav-link-wrapper {
  display: none;
  position: absolute;
  top: 2rem;
  right: 5rem;
  max-width: fit-content;
  min-width: fit-content;
}
.nav-link-wrapper.show {
  display: flex;
}
.nav-link-wrapper a {
  position: relative;
  overflow: hidden;
  display: block;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  padding: 0;
}
.nav-link-wrapper a span {
  display: block;
  -webkit-transition: -webkit-transform 500ms
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
    -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.nav-link-wrapper a:after {
  font-size: 16px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  content: attr(data-hover);
  display: inline;
  text-align: center;
  -webkit-transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-link-wrapper a:hover {
  color: var(--bs-primary);
}

.nav-link-wrapper a:hover span {
  color: var(--bs-primary);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.nav-link-wrapper a:hover:after {
  top: 0;
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

.navbar-nav.navbar-filter {
  justify-content: center;
}

.container-fluid > h1 {
  display: flex;
  justify-content: center;
  margin-right: 3em;
}

.form-control {
  line-height: 1;
  width: 280px;
}

.nav-item {
  display: flex;
  margin-right: 0.7rem;
}
.nav-link span {
  font-size: 1rem;
}
li.nav-item.divider {
  border-left: 1px solid #000;
  color: black;
}

.dot {
  position: relative;
  height: 6px;
  width: 6px;
  background-color: red;
  border-radius: 50%;
  visibility: hidden;
}

.dot.unread {
  visibility: visible;
}

/* search box */
.search-container {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--bs-primary);
  transition: top 0.4s ease-out;
  z-index: 1;
}
.search-container.show {
  top: 0;
}

.search-container-logo {
  max-width: 4rem;
  vertical-align: top;
}
.search-input {
  outline: none;
  border: none;
  font-size: 2rem;
  align-items: center;
  min-width: 75%;
}
.search-container > button {
  min-height: 1rem;
  height: 3rem;
}

.navbar-divider {
  margin: 1rem 1rem;
  height: 3rem;
  border-left: 1px solid var(--bs-gray-400);
}

.card-wrapper {
  padding: 2rem 4rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(339.4px, 1fr));
}
@media (min-width: 840px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.card {
  width: 300px;
  margin: 1.2rem;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
}

.badge {
  margin-right: 1rem;
}
.card-title {
  /* filter: brightness(0.5) opacity(0.8); */
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  height: 200px;
  background-image: url('../../assets/baseball.jpeg');
  background-size: cover;
  color: white;
  align-items: center;
  display: flex;
  /* text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; */
  text-shadow: 1px 1px 1px #000;
}
.card-title strong {
  font-size: 2rem;
  overflow: hidden;
  margin: 20px;
}
.card-text strong {
  font-size: 1.2rem;
}

.card-thumbnail {
  /* opacity: 1; */
  max-height: 200px;
  object-fit: fill;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card-thumbnail-wrapper {
  overflow: hidden;
}
.card:hover {
  border: 1px solid var(--bs-gray-500);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.125);
}
.card:hover .card-thumbnail {
  opacity: 0.8;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.card::before {
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
/* .card:active::before {
  -webkit-animation: circle 0.75s;
  animation: circle 0.75s;
}
@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
} */

.card-body {
  display: flex;
  flex-wrap: wrap;
}
.card-body > * {
  margin-bottom: 5px;
}
.card-footer {
  display: flex;
  justify-content: space-between;
}

.dropdown-item-wrapper.category {
  margin: 0 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}
.dropdown-item.category {
  min-height: 4rem;
  min-width: 5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}
/* side bar */
/* #sidebar.active {
  display: flex;
}

#sidebar-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

#sidebar-body {
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 40%;
  position: fixed;
  top: 0;
  right: -40%;
  z-index: 2;
  height: 100%;
  background: var(--bs-gray-100);
  padding: 1rem 2rem;
  transition: all 0.3s;
}

.active #sidebar-body {
  right: 0;
}

.active #sidebar-bg {
  animation: fadein 0.3s;
  -moz-animation: fadein 0.3s;
  -webkit-animation: fadein 0.3s;
  -o-animation: fadein 0.3s;
  z-index: 1;
  display: flex;
}

.line {
  margin: 1rem 0;
  border-top: 1px solid var(--bs-border-color);
}

.sidebar-user-info.container-md {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-user-info .container-sm {
  width: 100%;
  display: flex;

  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.space {
  min-width: 2rem;
  width: 100%;
}

.sidebar-user-info button {
  min-height: 2.25rem;
  min-width: 7rem;
  margin: 2rem;
}

.user-profile {
  background: var(--bs-body-bg);
  width: 5rem;
  height: 5rem;
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.user-profile-img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.user-desc-header {
  display: flex;
  align-items: baseline;
}

.user-desc .icon {
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
  min-height: 1rem;
}

.user-desc-edit-icon {
  cursor: pointer;
}

.user-host-meet-list {
  padding: 0;
}

.user-host-meet {
  align-items: flex-start;
  display: flex;
  margin: 2rem 1rem;
}

.user-host-meet-title {
  min-width: 18rem;
  max-width: 18rem;
}

.user-host-meet-peoples {
  width: 1.2rem;
  height: 1.2rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
  display: flex;
  align-items: center;
}

.people-icon {
  width: 1.2rem;
  height: 1.2rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.user-host-meet-status {
  align-items: flex-start;
  display: flex;
}

.user-host-meet-status > {
  min-width: 3rem;
}

.user-host-meet-status-text {
  line-height: 1.2rem;
  min-width: 3rem;
  text-align: right;
}

.user-host-meet-date {
  line-height: 1.2rem;
  margin: 0 0.5rem;
}

.status-icon {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
  margin: 0 1rem;
}

.user-schedule {
  display: flex;
  margin-bottom: 2rem;
}

.schedule-time-badge {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.schedule-date {
  font-size: 16px;
  font-weight: 200;
}

.schedule-time {
  font-size: 12px;
  font-weight: 100;
}

.schedule-info {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.schedule-data {
  display: flex;
}

.log-list {
  clear: both;
  overflow-y: scroll;
} */
