$white: #fff;
$black : #000;
$main-color: #29C7D2;
$sub-color: #253FE1;

$color__bg: $sub-color;
$color__sidebar: $white;
$color__toggle: $sub-color;

@mixin flex-center(){
    display : flex;
    text-align : center;
    justify-content: center;
    align-items : center;
}
// SIZES
$width__sidebar: 100%;

.notice-sidebar {

    background-color: white;
    height : 100%;
    z-index : 1;
    width : 20%;
    border-radius : 10px;
    box-shadow : 5px 5px 5px 5px gray;

}

.notice-background{
    position : fixed;
    top : 0;
    right : -100%;

    width: $width__sidebar;
    height: 100vh;
    background : rgba(0,0,0,0);
    animation: fadeIn 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    transition: .7s;

    display : flex;
    flex-direction : row-reverse;

    &.is-closed {
        transform: translateX(-100%);
    }
}

.notice-sidebar-title{
    @include flex-center();
    width : 100%;
    height : 10%;
}

.notice-sidebar-main{
    @include flex-center();
    flex-direction: column;
    width : 100%;
    margin : 3px 0 3px 0;
}