name: deploy

on:
  workflow_dispatch:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Grant execute permission for gradlew
        run:  cd ./backend/gathergo/ && chmod +x ./gradlew
        shell: bash

      - name: move directory
        run: cd ./backend/gathergo
        shell: bash

      - name: Build with Gradle
        run: cd ./backend/gathergo && ./gradlew clean build -x test

      - name: Build image
        run: cd ./backend/gathergo && docker build . -t ${{ secrets.DOCKERHUB_USERNAME }}/gathergo-server:latest

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

#      - name: Docker login
#        run:  echo ${{ secrets.DOCKERHUB_PASSWORD }} | winpty docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Push image
        run: cd ./backend/gathergo && docker push ${{ secrets.DOCKERHUB_USERNAME }}/gathergo-server:latest

      - name: Copy docker-compose file
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_IP }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          source: './backend/gathergo/docker-compose.yml'
          target: 'compose'
          rm: true

      - name: SSH remote and Run Docker Compose
        env:
          SPRING_DATABASE_SCHEMA: ${{ secrets.SPRING_DATABASE_SCHEMA}}
          SPRING_DATABASE_USERNAME: ${{ secrets.SPRING_DATABASE_USERNAME}}
          SPRING_DATABASE_PASSWORD: ${{ secrets.SPRING_DATABASE_PASSWORD}}
          SPRING_DATABASE_HOST: ${{ secrets.SPRING_DATABASE_HOST}}
          S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_KEY}}
          S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY}}
          REDIS_HOST: ${{ secrets.REDIS_HOST}}
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_IP }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          envs: SPRING_DATABASE_SCHEMA,SPRING_DATABASE_USERNAME,SPRING_DATABASE_PASSWORD,SPRING_DATABASE_HOST,S3_ACCESS_KEY,S3_SECRET_KEY,REDIS_HOST
          script: |
            cd compose/backend/gathergo/
              
            sudo touch .env
            sudo echo "
            SPRING_DATABASE_SCHEMA=$SPRING_DATABASE_SCHEMA
            SPRING_DATABASE_USERNAME=$SPRING_DATABASE_USERNAME
            SPRING_DATABASE_PASSWORD=$SPRING_DATABASE_PASSWORD
            SPRING_DATABASE_HOST=$SPRING_DATABASE_HOST
            S3_ACCESS_KEY=$S3_ACCESS_KEY
            S3_SECRET_KEY=$S3_SECRET_KEY
            REDIS_HOST=$REDIS_HOST" | sudo tee .env
              
            sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/gathergo-server:latest
            sudo docker compose down
            sudo docker-compose up -d
